body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  form {
    width: 60%;
    margin: 0px auto;
  }
  
  .container {
    margin: 0px auto;
    width: 60%;
    max-width: 1200px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #generateResumeBtn {
    display: block;
    margin: 0 auto;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  .inputinfo {
    width: 100%;
  }
  
  .resume-preview {
    margin-top: 10px;
    padding: 20px;
    background-color: #fefefe;
    color: black;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .resume-preview h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
  }
  
  .resume-preview p {
    margin: 2px 0;
    font-size: 16px;
  }
  
  .resume-preview ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .resume-preview li {
    margin-bottom: 5px;
    font-size: 16px;
  }
  